// Mixins Here

// Mixins in here

.flex-box(@fdirection, @fwrap, @juscontent, @alitems, @alcontent){
    display: flex;
    flex-direction: @fdirection;
    flex-wrap:@fwrap;
    justify-content: @juscontent;
    align-items: @alitems;
    align-content:@alcontent;
}
.btn-style(@background-color,@text-color,@hover-background-color,@hover-text-color){
    background: @background-color;
    color: @text-color;
    &:hover{
        color:@hover-text-color;
        background: @hover-background-color;
    }
}

